<nz-layout class="layout"  >
  <nz-header>
    <div class="logo"
         [style.background]="'url(assets/img/leaf.png)'"></div>
    <div class="logo-text">Recipe Form</div>
    <div style="float: right"><button nz-button nzType="primary">Ingredients</button></div>
    <!--    <ul nz-menu nzTheme="dark" nzMode="horizontal">-->
    <!--      <li nz-menu-item>nav 1</li>-->
    <!--    </ul>-->
  </nz-header>
  <nz-content>
    <!--    <nz-breadcrumb>-->
    <!--      <nz-breadcrumb-item>Home</nz-breadcrumb-item>-->
    <!--      <nz-breadcrumb-item>List</nz-breadcrumb-item>-->
    <!--      <nz-breadcrumb-item>App</nz-breadcrumb-item>-->
    <!--    </nz-breadcrumb>-->
    <div class="inner-content" >

      <form nz-form (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
            <input nz-input id="email" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
            <input nz-input type="password" id="password"  />
          </nz-form-control>
        </nz-form-item>
      </form>

    </div>
  </nz-content>

</nz-layout>
